.chart .chart-view {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    margin: 1rem;
}

.chart .chart-view canvas {
    padding: 0 2rem 1rem 2rem;
}

.chart .chart-view .real-time {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.chart .chart-view .real-time li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    margin: 1rem;
    width: 90%;
    height: 90%;
    cursor: pointer;
}

.chart .chart-view .real-time li:hover {
    background: var(--background-color);
}

.chart .chart-view .real-time p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

.chart .chart-view h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 1.5rem;
}

.chart .chart-error {
    width: 100%;
    min-height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart .chart-error p {
    color: var(--error-color);
    font-size: 2rem;
    font-weight: 600;
}
