.dashboard .devices {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.dashboard .card {
    padding: 2.5rem;
    margin: 2rem;
    cursor: pointer;
    background: #fff;
    border-radius: 0.5rem;
    justify-content: center;
    min-width: 35rem;
    border: 0.1rem solid #ccc;
}

.dashboard .card:hover {
    background: #eee;
}

.dashboard .card .title {
    color: var(--default-green);
    font-size: 2rem;
    text-align: center;
}

.dashboard .card .subtitle {
    color: var(--default-light-gray);
    font-size: 1.4rem;
    text-align: center;
}

.dashboard .card .value {
    margin: 1.5rem auto 1.5rem auto;
    display: flex;
    justify-content: left;
    border: 0.1rem solid var(--default-green);
    border-radius: 0.5rem;
    padding: 1rem;
}

.dashboard .card .value .icon {
    font-size: 2.4rem;
    color: var(--default-green);
}

.dashboard .card .value .text {
    font-size: 2rem;
    font-weight: 500;
    color: #555;
    margin: 0 1.5rem 0 1.5rem;
}

.dashboard .card .value .payload {
    color: #333;
    font-weight: 600;
}

.dashboard > .dialog {
    background: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.dashboard .dialog .title {
    text-align: center;
    margin: 2rem;
    overflow: hidden;
    color: var(--default-green);
}

.dashboard .card .disconnected {
    color: #aaa;
    text-align: center;
    font-size: 2rem;
}

.dashboard .empty {
    height: 100vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 10rem;
    border-radius: 0.5rem;
}

.dashboard .empty .text {
    font-size: 2.4rem;
    font-weight: 600;
    color: #aaa;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .dashboard .devices {
        display: flex;
        flex-direction: column;
    }
}
