.devicemenu {
    background: linear-gradient(#3339, #3339),
        url('../assets/background.webp') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    left: 0;
    height: 100vh;
    width: 25rem;
    align-items: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    border-top: 0.2rem solid #fff;
}

.devicemenu li {
    width: 100%;
    cursor: pointer;
    justify-content: center;
}


.devicemenu .unit ul li:hover {
    background: #333c;
}

.devicemenu .unit h1:hover {
    background: #333c;
}


.devicemenu .unit {
    color: #fff;
    margin: 1rem 1.5rem 1.5rem 5.7rem;
}


.devicemenu .unit .devices-list li {
    margin-left: 1rem;
    display: none;
    padding: 0.8rem;
    animation-name: effect;
    animation-duration: 0.3s;
    font-size: 1.8rem;
    font-weight: 600;
}

@keyframes effect {
    0% {
        transform: translateY(-3rem);
    }
}

.devicemenu li .title,
.devicemenu li .subtitle {
    color: #fff;
    margin: 1.5rem;
}

.devicemenu li .title {
    font-size: 1.8rem;
    color: #fff;
}

.devicemenu li .subtitle {
    font-size: 1.4rem;   
}

.devicemenu .title {
    color: var(--default-green);
    font-size: 2rem;
}

.devicemenu .subtitle {
    color: var(--default-light-gray);
    font-size: 1.4rem;
}
