.devicemenu {
    background: linear-gradient(#3339, #3339),
        url('../assets/background.webp') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    left: 0;
    height: 100vh;
    width: 25rem;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    border-top: 0.2rem solid #fff;
}

.devicemenu .unit {
    width: 100%;
    cursor: pointer;
}

.devicemenu .unit .devices-list:hover {
    background: #333c;
}

.devicemenu .unit p {
    font-weight: 600;
    font-size: 2rem;
    margin: 1.5rem 0 0.5rem 2rem;
}

.devicemenu .unit {
    color: #fff;
}

.devicemenu .unit .devices-list .device-name {
    margin: 0 1.5rem 0 3rem;
    display: none;
    padding: 0.8rem;
    animation-name: effect;
    animation-duration: 0.3s;
    font-size: 1.6rem;
    font-weight: 600;
}

@keyframes effect {
    0% {
        transform: translateY(-3rem);
    }
}

.devicemenu .unit .title,
.devicemenu .unit .subtitle {
    color: #fff;
    margin: 1.5rem;
}

.devicemenu .unit .title {
    font-size: 1.8rem;
    color: #fff;
}

.devicemenu .unit .subtitle {
    font-size: 1.4rem;
}

.devicemenu .title {
    color: var(--default-green);
    font-size: 2rem;
}

.devicemenu .subtitle {
    color: var(--default-light-gray);
    font-size: 1.4rem;
}
