.graphic {
    display: flex;
    padding: 0 2rem 2rem 2rem;
    justify-content: left;
    width: 100%;
}

.graphic .loading-container {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
