.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu .title {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
    height: 3.5rem;
}

.menu .items .item-name {
    color: var(--primary-font-color);
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
}

.menu .items .sub-items .sub-item-name {
    color: var(--neutral-color);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 3rem 1rem 5rem;
}

.menu .items p {
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.menu .items p:hover {
    background: var(--hovered-color);
}

.menu .items p {
    cursor: pointer;
}
