.menu {
    min-width: 20rem;
    min-height: 50vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5rem;
    left: 0;
    z-index: 1;
}

.menu .items p {
    color: var(--default-green);
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem;
}
