.modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: linear-gradient(#3339, #3339);
    z-index: 1;
}

.modal .window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    background: #eee;
}

.modal .window p {
    font-size: 2rem;
    font-weight: 600;
    color: #555;
    margin: 1rem;
}

.modal .window .buttons {
    display: flex;
}

.modal .window .buttons #cancel-button {
    background: #d00;
}

.modal .window .buttons #cancel-button:hover {
    background: #f56f55;
}
