.new-record .main {
    background: #fff;
    width: 100vw;
    height: 100vh;
}

.new-record .main input {
    padding: 0.5rem;
    min-width: 30rem;
    border: 0.2rem solid var(--default-green);
    border-radius: 0.3rem;
    font-size: 1.8rem;
    margin: 0.2rem 0 1.5rem 0;
    color: #333;
}

.new-record .main label {
    font-size: 1.8rem;
    font-weight: 600;
    color: #555;
}

.new-record .main input,
.new-record .main label {
    width: 50%;
}

.new-record .main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 1rem 2rem 1rem 2rem;
}

.new-record .main form h1 {
    color: var(--default-green);
    font-size: 2.4rem;
    margin: 1.5rem 0 1rem 0;
}

.new-record button {
    border-radius: 0.5rem;
    border: none;
    width: 20rem;
    height: 5rem;
    background: #309d20;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    margin: 2rem 0 5rem 0;
}

.new-record button:hover {
    background: #41ca2b;
}

.new-record .select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 6rem;
    padding: 0;
    background: #fff;
    margin: 2rem;
}

.new-record .select select {
    font-size: 1.8rem;
    padding: 0.5rem;
    border: 0.1rem solid #309d20;
    border-radius: 0.5rem;
}
