.newunit * {
    overflow: hidden;
}

.newunit .main {
    background: #eee;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.newunit .main input {
    padding: 0.5rem;
    border: 0.2rem solid var(--default-green);
    border-radius: 0.3rem;
    font-size: 1.8rem;
    margin: 0.2rem 0 4rem 0;
    color: #333;
}

.newunit .error-message {
    color: #d00;
    font-size: 1.4rem;
    font-weight: 600;
    margin: -2.5rem auto 1.5rem auto;
    display: none;
}

.newunit .main label {
    font-size: 1.8rem;
    font-weight: 600;
    color: #555;
}

.newunit .main input,
.newunit .main label {
    width: 40%;
}

.newunit .main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 1rem 2rem 3rem 2rem;
    height: 90vh;
}

.newunit .main form .buttons {
    display: flex;
    align-items: center;
}

.newunit .main form h1 {
    color: var(--default-green);
    font-size: 2.4rem;
    margin: 1.5rem 0 2rem 0;
}

.newunit .main form .success {
    font-size: 2rem;
    font-weight: 600;
    color: var(--default-green);
}

.newunit .main form .error {
    font-size: 2rem;
    font-weight: 600;
    color: #d00;
}

.newunit .main form .validation-error {
    font-size: 1.6rem;
    font-weight: 600;
    color: #d00;
    margin: -2rem 0 1rem 0;
}

.newunit .main form .loading-container {
    width: 5.5rem;
    height: 5.5rem;
    margin: 0 auto 0 auto;
}

@media screen and (orientation: portrait) {
    .newunit .main input,
    .newunit .main label {
        width: 90%;
    }
}
