.overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    width: 99%;
    min-height: 18rem;
    padding: 1.5rem;
    grid-column: 2/3;
    margin: 1rem;
    border: 1px solid var(--default-green);
    border-radius: 0.5rem;
}

.overview .value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview .value .icon {
    margin-right: 1rem;
    font-size: 3rem;
    color: var(--default-green);
}

.overview .value .text {
    margin: 0 0.8rem 0 0.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #555;
}

.overview .value .payload {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}
