.plot .main {
    display: grid;
    grid-template-columns: 12% 88%;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--background-color);
}

.plot .main .content-container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    width: 100%;
    height: 95.5%;
}

.plot .main .content-container .chart-container {
    width: 100%;
    height: 100%;
    grid-row: 2/3;
}

.plot .main .content-container .loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2/3;
}

.plot .main .content-container .error {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2/3;
}

.plot .main .content-container .error p {
    color: var(--error-color);
    font-size: 2rem;
    font-weight: 600;
}

.plot .main .content-container .empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2/3;
}

.plot .main .content-container .empty p {
    color: var(--neutral-color);
    font-size: 2rem;
    font-weight: 600;
}

.plot .main .content-container .buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    grid-row: 3/4;
}

.plot .main .content-container .date-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-row: 1/2;
}

.plot .main .content-container .date-picker input {
    width: 20rem;
    padding: 0.3rem;
    margin: 0 0 0 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.3rem;
    font-size: 2rem;
    background: var(--background-color);
    color: var(--primary-font-color);
}

.plot .main .date-picker .icon {
    font-size: 3.5rem;
    color: var(--secondary-font-color);
    border-radius: 50%;
    margin: 0.5rem;
    background: var(--primary-color);
    cursor: pointer;
}

.plot .main .date-picker .icon:hover {
    background: var(--primary-light-color);
}

@media (orientation: portrait) {
    .plot .main {
        grid-template-columns: 1fr;
    }
    .plot .main .menu {
        display: none;
    }
}
