.profile .main {
    background: #fff;
    width: 100vw;
    height: 96vh;
    position: fixed;
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: 1fr;
    justify-content: center;
}

.profile .main input {
    padding: 0.5rem;
    border: 0.2rem solid var(--default-green);
    border-radius: 0.3rem;
    font-size: 1.8rem;
    margin: 0.2rem 0 3rem 0;
    color: #333;
}

.profile .main label {
    font-size: 1.8rem;
    font-weight: 600;
    color: #555;
}

.profile .main input,
.profile .main label {
    width: 70%;
}

.profile .main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 1rem 2rem 3rem 2rem;
}

.profile .main .forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile .main .forms button {
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 0.3rem;
    border: none;
    background: var(--default-green);
    color: #fff;
    margin: 1.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.profile .main .forms button:hover {
    background: var(--default-light-green);
}

.profile .main .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .main .navigation button {
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 0.3rem;
    border: none;
    background: var(--default-green);
    color: #fff;
    margin: 1.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.profile .main .navigation button:hover {
    background: var(--default-light-green);
}

.profile .main .navigation .delete {
    background: #ff5533;
    width: 18rem;
}

.profile .main .navigation .delete:hover {
    background: #f56f55;
}

.profile .main form h1 {
    color: var(--default-green);
    font-size: 2.4rem;
    margin: 1.5rem 0 2rem 0;
}

.profile .button-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.profile .button-container button {
    border-radius: 0.5rem;
    border: none;
    width: 18rem;
    height: 5rem;
    background: #309d20;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    margin: 2rem 0 5rem 0;
}

.profile .button-container button:hover {
    background: #41ca2b;
}

.profile .main .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    color: #777;
}

.profile form .loading-container {
    width: 5rem;
    height: 5.5rem;
    margin: 2rem auto 0 auto;
}
