.profile .main {
    display: grid;
    grid-template-columns: 12% 33% 33% 22%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #fff;
}

.profile .buttons {
    display: flex;
}

.profile .main input {
    padding: 0.5rem;
    border: 0.2rem solid var(--default-green);
    border-radius: 0.3rem;
    font-size: 1.8rem;
    margin: 0.2rem 0 3rem 0;
    color: #333;
}

.profile .error-message {
    color: #d00;
    font-size: 1.4rem;
    font-weight: 600;
    margin: -2rem auto 0rem auto;
    display: none;
}

.profile .main label {
    font-size: 1.6rem;
    font-weight: 600;
    color: #555;
}

.profile .main input,
.profile .main label {
    width: 85%;
}

.profile .main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 1rem 2rem 3rem 2rem;
}

.profile .main .user-data {
    grid-column: 2/3;
}

.profile .main .user-data input:nth-child(7) {
    height: 20rem;
}

.profile .main .consumer-unit-data {
    grid-column: 3/4;
}

.profile .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}

.profile .nav-buttons #delete-button {
    background: #d00;
}

.profile .nav-buttons #delete-button:hover {
    background: #f56f55;
}

.profile .buttons #delete-button {
    background: #d00;
}

.profile .buttons #delete-button:hover {
    background: #f56f55;
}

.profile form h1 {
    color: var(--default-green);
    font-size: 2.4rem;
    margin: 1.5rem 0 2rem 0;
}

.profile .button-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.profile .main .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    color: #777;
}

.profile .main .empty p {
    text-align: center;
}

.profile form .loading-container {
    width: 5rem;
    height: 5.5rem;
    margin: 2rem auto 0 auto;
}

.profile .main form .success {
    font-size: 2rem;
    font-weight: 600;
    color: var(--default-green);
}

.profile .main form .error {
    font-size: 2rem;
    font-weight: 600;
    color: #d00;
}

.profile .main .devices-list {
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95.5%;
    padding: 1rem;
}

.profile .main .devices-list .header {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 15rem;
    align-items: center;
    justify-content: center;
}

.profile .main .devices-list .header h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--default-green);
    margin: 1rem;
}

.profile .main .devices-list li form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.profile .main .devices-list li form input {
    margin: 1rem;
    width: 90%;
}

.profile .main .devices-list li form label {
    margin: 1rem 1rem 0 1rem;
    width: 90%;
}
