.profile .main {
    background: #fff;
    width: 100vw;
    height: 96vh;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.profile .main input {
    padding: 0.5rem;
    border: 0.2rem solid var(--default-green);
    border-radius: 0.3rem;
    font-size: 1.8rem;
    margin: 0.2rem 0 3rem 0;
    color: #333;
}

.profile .main label {
    font-size: 1.8rem;
    font-weight: 600;
    color: #555;
}

.profile .main input,
.profile .main label {
    width: 70%;
}

.profile .main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem 3rem 2rem;
}

.profile .main .forms {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 10% 45% 45%;
}

.profile .main .forms form:nth-child(1) {
    grid-column: 2/3;
}

.profile .main .forms form:nth-child(2) {
    grid-column: 3/4;
}

.profile .main .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .main .navigation #delete-button {
    background: #d00;
}

.profile .main .navigation #delete-button:hover {
    background: #f56f55;
}

.profile .main form h1 {
    color: var(--default-green);
    font-size: 2.4rem;
    margin: 1.5rem 0 2rem 0;
}

.profile .button-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.profile .main .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    color: #777;
}

.profile form .loading-container {
    width: 5rem;
    height: 5.5rem;
    margin: 2rem auto 0 auto;
}

.profile .main form .success {
    font-size: 2rem;
    font-weight: 600;
    color: var(--default-green);
}

.profile .main form .error {
    font-size: 2rem;
    font-weight: 600;
    color: #d00;
}

.profile .modal-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: linear-gradient(#3339, #3339);
    z-index: 1;
}

.profile .modal-container .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    background: #fff;
}

.profile .modal-container .modal p {
    font-size: 2rem;
    font-weight: 600;
    color: #555;
    margin: 1rem;
}

.profile .modal-container .modal .buttons {
    display: flex;
}

.profile .modal-container .modal .buttons #cancel-button {
    background: #d00;
}

.profile .modal-container .modal .buttons #cancel-button:hover {
    background: #f56f55;
}