.realtime {
    padding: 2.5rem;
    border-radius: 0.5rem;
    justify-content: center;
    width: 90%;
    height: 100%;
}

.realtime .display {
    display: flex;
}

.realtime .display .value {
    margin: auto;
    display: flex;
    justify-content: left;
    border: 0.1rem solid var(--default-green);
    border-radius: 0.5rem;
    padding: 1rem;
}

.realtime .display .value .icon {
    font-size: 2.4rem;
    color: var(--default-green);
}

.realtime .display .value .text {
    font-size: 1.8rem;
    font-weight: 500;
    color: #555;
    margin: 0 1.5rem 0 1.5rem;
}

.realtime .display .value .payload {
    color: #333;
    font-weight: 600;
    font-size: 1.8rem;
}

.realtime .disconnected {
    color: #aaa;
    text-align: center;
    font-size: 2rem;
}
