.realtime {
    padding: 2.5rem;
    border-radius: 0.5rem;
    justify-content: center;
    width: 90%;
    height: 100%;
}

.realtime .display {
    display: flex;
    width: 70%;
    margin: auto;
}

.realtime .display .value {
    margin: auto;
    display: flex;
    left: 0;
    border: 0.1rem solid var(--default-green);
    border-radius: 0.5rem;
    padding: 1rem;
    align-items: center;
}

.realtime .display .value .icon {
    font-size: 2rem;
    color: var(--default-green);
}

.realtime .display .value .text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #555;
    margin: 0 0.8rem 0 0.8rem;
}

.realtime .display .value .payload {
    color: #333;
    font-weight: 600;
    font-size: 1.6rem;
}

.realtime .disconnected {
    color: #aaa;
    text-align: center;
    font-size: 2rem;
}

.realtime .navigation {
    position: absolute;
    height: 9rem;
    width: 30rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.realtime .navigation .date-picker-input {
    border: 0.1rem solid #309d20;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    width: 10rem;
    text-align: center;
    margin: 1rem;
    transition: all 0.2s ease;
}

.realtime .navigation .date-picker-input:hover {
    background: #ccc;
}

.realtime .navigation .date-picker-btn {
    border: none;
    border-radius: 0.5rem;
    background: #309d20;
    padding: 0.8rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    margin: auto auto auto 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.realtime .navigation .date-picker-btn:hover {
    background: #4ecc3b;
}

.realtime .navigation .prev-day,
.realtime .navigation .next-day {
    background: #309d20;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.realtime .navigation .prev-day:hover,
.realtime .navigation .next-day:hover {
    background: #4ecc3b;
}
